<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.sh.mapper.AlarmMapper">
  
  	<insert id="insertAlarm">
  
  	insert into sh_alarm (alarmId, toId , fromId , postNo, category) 
		values ( #{alarmId} , #{toId} , #{fromId}, #{postNo}, #{category});
 
  </insert>
  
  	<select id="alarmCount" resultType="int">
		select count(*) from sh_alarm where fromId = #{memberId}
	</select>

	<select id="alarmList" resultType="com.sh.model.AlarmVO">
		select * from sh_alarm where toId = #{memberId} order by alarmDate DESC LIMIT 6
	</select>

	<delete id="alarmClick">
		delete from sh_alarm where fromId = #{memberId} AND postNo = #{postNo}
	</delete>
  
    </mapper>